<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title, "Song Title" %>
  <%= f.text_field :title %>

  <br />

  <%= f.label :artist_name, "Artist's Name" %>
  <%= f.text_field :artist_name %>

  <br />

  <%# See: https://apidock.com/rails/ActionView/Helpers/FormTagHelper/select_tag %>
  <%= f.label "Select Genre" %>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, "id", "name") %>

  <br />

  <h2>Notes</h2>

  <%= f.fields_for :notes do |note_form| %>
    <%# See: https://api.rubyonrails.org/v5.2.3/classes/ActionView/Helpers/FormHelper.html#method-i-fields_for %>
    <%= note_form.label :note %>
    <%= note_form.text_area :content, rows: 5, cols: 50 %>
    <br/>
  <% end %>

  <br/>

  <%= f.submit %>
<% end %>


